<div class="app">
	<div class="row">
		<div class="col-md-12"> 
			<center><h1 class="header">About meee!!!</h1></center>
		</div>
	</div>

	<div class="row" style="margin-bottom:2em">
		<div class="col-md-4" class="figure">
			<center><img src="images/ava.jpg" alt="Ava" style="width:200px"></center>
		</div> 

		<div class="col-md-7" id="about_para" style="background-color: #F0F0F0;">
			<p> <center>
				Hi there,

				I am Manh Tran :) <br>I am now a Computer Science student at National University of Singapore (NUS). 
				<br> <br>
				I want to make friends with all of you guys. Have a nice day friends!
			</center> </p>
		</div>
	</div>
</div>