<h1 id="about_title" class="brown">About Meee!</h1>

<div id="figure">
	<img src="images/ava.jpg" alt="Ava" style="width:200px">
</div> 

<div id="about_para">
<p> <center>
	Hi there,

	I am Manh Tran :) <br>I am now a Computer Science student at National University of Singapore (NUS). 
	<br> <br>
	I want to make friends with all of you guys. Have a nice day friends!
</center> </p>
</div>