<% provide(:title, 'Contact') %>
<h1 class="brown">Contact</h1>

<div class="col-md-6 col-md-offset-2">
<p> <strong>
	You can contact me via: </strong>
</p>

<ul>
	<li>Email:<br>manhnus@gmail.com</li>
	<li><a href="https://www.facebook.com/manh.tran.103">Facebook</a></li>
	<li>Mobile phone:<br> (+65) 8405 1595</li>
</ul>
</div>