
<div class="app">
	<div class="row">
		<div class="col-md-12"> 
			<center><h1 class="header">My favourite videos</h1></center>
		</div>
	</div>

	<div class="row" style="margin-bottom:2em">
		<div class="col-md-1" style="color:#47d17c; font-size:130%; font-weight:bold">My videos</div>
		<div class="col-md-11">
			<div class="row">
				<div class="col-md-4">

					<iframe width="300" height="225" src="https://www.youtube.com/embed/pUa29FnQdqY" frameborder="0" allowfullscreen ></iframe>
				</div>
				<div class="col-md-4">

					<iframe width="300" height="225" src="https://www.youtube.com/embed/nuWl1t2dw7Y" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="col-md-4">
					<iframe width="300" height="225" src="https://www.youtube.com/embed/58ZKx-lprXE?controls=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-bottom:2em">
		<div class="col-md-1" style="color:#47d17c; font-size:130%; font-weight:bold">My favourite videos</div>
		<div class="col-md-11">
				<div class="row">
				<div class="col-md-4">

					<iframe width="300" height="225" src="https://www.youtube.com/embed/IdneKLhsWOQ" frameborder="0" allowfullscreen ></iframe>
				</div>
				<div class="col-md-4">

					<iframe width="300" height="225" src="https://www.youtube.com/embed/XG6_88H4w8s" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="col-md-4">
					<iframe width="300" height="225" src="https://www.youtube.com/embed/kcLcHPPxBac?controls=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

</div>