/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Header
.navbar {

	height: 60px;
	border-bottom: 2.5px solid lightgray;
	background-color: white;

	.container {
		height: 55px;

		.navbar-left {
			margin-top: 5px;
			li a {
				margin-left: 2px;
				margin-right: 15px;
				padding-left: 0px;
				padding-right: 5px;
				padding-bottom: 0px;
				padding-top: 10px;

			} 
		}

		.navbar-right {
			margin-top: 6px; 
			li a {
				margin-right:  0px;
				margin-left:  0px;
				padding-right: 2px; 
				padding-top: 10px;
				&:hover {
					color: #000;
				}
				&:focus {
					color: #000;
				}
			}
			.dropdown-menu {
				min-width: 0;
				margin-top: 6px;
				li {
					margin-bottom: 0;
					a {
						padding-right: 20px;
						padding-top: 5px;
					}
				}
			}
			.dropdown-toggle {
				height: 42px;
			}
			.open .dropdown-toggle {
				background: #FFF; 
				color: #000;
			}
		}
	}
}

.signature img {
	border-bottom: 2px solid lightgrey;
}

 // FOOTER

 .footer .row{
 	margin-top: 1.25em;
 		margin-left: auto;
		margin-right: auto;
 	padding-top: 0.75em;
 	padding-bottom: 0.75em;
 	border-top: 1px solid #eaeaea;
 	a {
 		color: #555;
 		&:hover {
 			color: #222;
 		}
 	}
 }
