  @import "bootstrap-sprockets";
  @import "bootstrap";

  /* universal */


#body-content {
  // background-color: grey;
}

  .app {
    .row {
      margin-left: auto;
      margin-right: auto;   
    }
    .header {
    margin-top:50px;
    margin-bottom:50px;
    color:#000066;
    font-size: 2em;
    font-style:italic;
    font-family: Georgia, serif;
    text-align:center;
    word-spacing: 2px;
    letter-spacing: 0.2px;
  }
    .title{
      color: #47d17c;
      letter-spacing: normal;
    }
    .all-articles-link {
      background-color: whitesmoke;
      padding: 0.375em;
      text-align: center;
      width: 10em;
    }
    label{
      font-size: 1.2em;
      color: #000066;
    }
  }

  /* forms */

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    margin-bottom: 15px;
  }

  input {
    height: auto !important;
  }

  textarea {
    resize: vertical;
  }


  /* typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
      font-family: "adobe-garamond-pro";
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }

  p {
    font-size: 1.1em;
    line-height: 1.7em;
      word-wrap: break-word;
  }

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  .alert {
    margin-bottom: 0;
    padding-left: 30px;
    color: red;
    background-color: lavender;
  }

  .btn-primary{
    background-color: #003366;
    margin-top: 0.15em;
  }

  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }
