// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Header
.header {
	.navbar-inverse{
		border-color: white;
	}
	.navbar {
		height: 60px;
		margin-bottom: 0;
		// border-bottom: 2.5px solid lightgray;
		background-color: #F8F8F8;
		.container {
			height: 58px;
			.navbar-left {
				margin-top: 5px;
				li a {
					margin-right: 18px;
					padding-left: 0px;
					padding-right: 5px;
					padding-top: 10px;
				} 
				.img{
					height: 30px;
					width: 30px;
					background-size: 30px 30px;
				}
				.gm{
					background-image: image-url('gmblack2.jpg');
			border-radius: 50%; 

				}
				.tw{
					background-image: image-url('twblack.jpg');
			border-radius: 50%; 

				}
				.fb{
					background-image: image-url('fbblack.jpg');
			border-radius: 50%; 

				}
			}
			.navbar-right {
				margin-top: 0.75em; 
				li a {
					margin-left: 1.5em;
					margin-top:  0.75em;
					padding: 0;
					color: #47d17c;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-weight: bold;

					&:hover {
						color: #000;
					}
					&:focus {
						color: #000;
					}
				}
				.dropdown-menu {
					min-width: 0;
					background-color: #F8F8F8;
					li {
						margin-bottom: 0;
						a {
							margin: 0;
							padding: 0.25em 1.2em 0.25em 1.2em;
						}
					}
				}
				.dropdown-toggle {
					height: 38px;
					
				}
				.open .dropdown-toggle {
					background-color: #F8F8F8;
					color: #000;
				}
			}
		}
	}

	.container-img{
		width: 1286px;
		height : 300px;
		background: image-url("back-header2.jpg") center;	
		z-index: -1;
		background-size: 1286px 600px;
		padding-top: 130px;
		.profile{
			width: 120px;
			height:  120px;
			background-size: 120px 120px;
			background: image-url("ava2black.jpg") center;
			border: 3px solid #fff;
			border-radius: 50%; 
			z-index: 1; 
		}
		.text{
			font-weight: 600;
			font-size: 48px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #fff;
			text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
		}
		.small-text{
			font-family: Georgia, sans-serif;
			font-style: italic;
						letter-spacing: 0.5px;
			color: white;
		}
	}

	.header-img{
		width: 1286px;
		height : 300px;
		// position: absolute	;
		z-index: -1;
		background-size: 1286px 300px;
		overflow: hidden;
		border-bottom: 2px solid lightgrey;
	}
	.imgAni1{
		animation: first 10s linear infinite;
		@keyframes first {
			from   {left:970px;}
			to   {left:970px;}
		}
	}
	.imgAni2{
		animation: second 10s linear infinite;
		@keyframes second {
			from   {left:-970px;}
			to   {left:0px;}
		}
	}

	.line{
		padding-top: 2.5px;
		width: 940px;
		background-color: lightgray;
	}
}

.footer {
	.row{
		margin-left: auto;
		margin-right: auto;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
		border-top: 1px solid #eaeaea;
		a {
			color: #555;
			&:hover {
				color: #222;
			}
		}
	}
}

