// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
	.row {
		margin-left: auto;
		margin-right: auto;
	}
	button a:hover {
		text-decoration:none;

	}

	.welcome-message {
		margin-top:50px;
		margin-bottom:50px;
		color:#FFA500;
		font-size: 2em;
		font-style:italic;
		font-family: Georgia, serif;
		text-align:center;
		word-spacing: 2px;
		letter-spacing: 0.2px;
	}
	.new-note {
		text-align: center;
		font-size: 2em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;

	}
	.new-note-animate{
		animation: flicker 2s linear infinite;
		@keyframes flicker {

			0%   {opacity:1};
			50%   {opacity: 0};
			100%  {opacity:1};
		}
	}
	.article {
		border-top: 1.5px solid lightgrey;
		
		.title{
			display:inline-block;
			margin-top:1.25em;
			margin-bottom:1.25em;
			font-size:120%;
		}
		.functions {
			margin-top:7px;
			margin-bottom:7px;
			padding-left: 0;
			padding-right: 0;
		}
		.delete-button {
			float: right;

			margin:4px;
			margin-top:8px;

		}
		.edit-button {

			float: right;
			margin:5px;
			margin-top:10px;

		}	
		.figure-container {
			img {
				border: 3px solid #FFA500;
			}
			float:left;

		}

		.text{
			display: block;
			margin-bottom: 1em;
			text-align: justify;
			overflow:hidden;
			word-wrap: break-word;
		}
		hr {
			margin: 2rem 0 1.5rem;
			border-top: 0;
		}
	}
}