

<footer class="footer">
  <div class="row">
    <div class="col-md-2 col-md-offset-0 col-xs-4 col-xs-offset-0"> <center>
      <small>
        by <a href="https://www.facebook.com/manh.tran.103">Manh Tran</a>
      </small></center>
    </div>
    <div class="col-md-2 col-md-offset-8 col-xs-5 col-xs-offset-3">
     <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1" style="text-align:right; padding-right:0">
      <%= link_to "About",   about_path %>
     </div>
     <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1" style="padding-left: 0; text-align:left">
      <%= link_to "Contact", contact_path %>
     </div>
    </div>
  </div>
</footer>